<div class="container">
  <!--Biding Custom events-->
  <app-cockpit 
    {serverCreated}="onServerAdded($event)" 
    {blueprintCreated}="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!--Biding to custom properties: [element]="element" OR using alias [srvElement]="element". See server-element.component-->
      <app-server-element *ngFor="let element of serverElements" [srvElement]="element"></app-server-element>
    </div>
  </div>
</div>
